DungeonCrawler/Source/Packages/
DungeonCrawler/Backup/
DungeonCrawler/Plugins/*
!DungeonCrawler/Plugins/GamePlugin.core.dll
!DungeonCrawler/Plugins/GamePlugin.core.pdb
!DungeonCrawler/Plugins/GamePlugin.core.xml
!DungeonCrawler/Plugins/EditorPlugin.editor.dll
!DungeonCrawler/Plugins/EditorPlugin.editor.pdb
!DungeonCrawler/Plugins/EditorPlugin.editor.xml
DungeonCrawler/NVorbis.dll
DungeonCrawler/OpenTK.GLControl.dll
DungeonCrawler/OpenTK.GLControl.xml
DungeonCrawler/OpenTK.dll
DungeonCrawler/OpenTK.dll.config
DungeonCrawler/OpenTK.pdb
DungeonCrawler/OpenTK.xml
DungeonCrawler/FarseerDuality.xml
DungeonCrawler/FarseerDuality.pdb
DungeonCrawler/Microsoft.Web.XmlTransform.dll
DungeonCrawler/NVorbis.XML
DungeonCrawler/FarseerDuality.dll
DungeonCrawler/EditorUserData.xml
DungeonCrawler/PopupControl.dll
DungeonCrawler/PopupControl.pdb
DungeonCrawler/DualityUpdater.exe
DungeonCrawler/DualityPrimitives.pdb
DungeonCrawler/WeifenLuo.WinFormsUI.Docking.dll
DungeonCrawler/WeifenLuo.WinFormsUI.Docking.pdb
DungeonCrawler/logfile.txt
DungeonCrawler/logfile_editor.txt
DungeonCrawler/logfile_editor_prev.txt
DungeonCrawler/perflog.txt
DungeonCrawler/Aga.Controls.dll
DungeonCrawler/Aga.Controls.pdb
DungeonCrawler/Duality.pdb
DungeonCrawler/Duality.xml
DungeonCrawler/AdamsLair.WinForms.pdb
DungeonCrawler/AdamsLair.WinForms.xml
DungeonCrawler/perflog_editor.txt
DungeonCrawler/DDoc.chm
DungeonCrawler/DesignTimeData.dat
DungeonCrawler/DualityEditor.pdb
DungeonCrawler/DualityEditor.xml
DungeonCrawler/DualityLauncher.exe
DungeonCrawler/DualityLauncher.exe.config
DungeonCrawler/DualityLauncher.pdb
DungeonCrawler/DualityPrimitives.XML
DungeonCrawler/AdamsLair.WinForms.dll
DungeonCrawler/Source/Code/CorePlugin/bin/
DungeonCrawler/Source/Code/CorePlugin/obj/
DungeonCrawler/Source/Code/CorePlugin/GamePlugin.core.xml
DungeonCrawler/Source/Code/EditorPlugin/bin/
DungeonCrawler/Source/Code/EditorPlugin/obj/
DungeonCrawler/Source/Code/EditorPlugin/GamePlugin.core.xml
DungeonCrawler/Source/Code/ProjectPlugins.v12.suo
DungeonCrawler/Source/Media/
